/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    position: relative;
}

/* Header de Navegación */
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #121212;
    padding: 1rem 2rem;
    position: relative;
}

.nav-logo {
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;
    color: #00aaff;
    font-size: 1.5rem;
    text-decoration: none;
    justify-content: flex-start;
    
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #bbb;
    text-decoration: none;
    font-size: 1rem;
}

.nav-links li a:hover {
    color: #00aaff;
}

.container {
    display: flex;
    align-items: center;
    gap: 15rem;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

/* Botón de descargas al lado derecho */
.descarga li a {
    font-family: "Roboto", serif;
   
    font-weight: 600;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    background-color: #21ddee;
    color: #FFF;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 10px;
    text-decoration: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.descarga li a::after, .descarga li a::before {
    content: "";
    position:absolute;
    opacity: 0.3;
    
    border-radius: inherit;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3s ease;
}

.descarga li a:hover {
    transform:  translate(-12px, -12px);
}

.descarga li a:hover::after {
    transform:  translate(6px, 6px);
}

.descarga li a:hover::before{
    transform: translate(12px, 12px);
}

/* Header Inicio */
header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}

header p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 50%;
}

.header .profile-pic{
    cursor: pointer;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #00aaff;
    margin-bottom: 1rem;
    transition: all 0.3s;
}

/* Descripción profesional */
#descripcion {
    padding: 3rem 2rem;
    background-color: #121212;
}

#descripcion h2 {
    color: #00aaff;
    text-align: left;
}

/* Habilidades */
#habilidades {
    padding: 3rem 2rem;
}

.skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
    text-align: center;
}

.skills-list li {
    background-color: #121212;
    border: 2px solid #00aaff;
    padding: 0.5rem;
    border-radius: 5px;
}

/* Galería de Proyectos */
#proyectos {
    padding: 3rem 2rem;
    background-color: #000;
}

.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.project-item {
    background-color: #121212;
    border: 2px solid #00aaff;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.project-item h3 {
    color: #00aaff;
}

.project-item a {
    color: #00aaff;
    text-decoration: none;
}

.project-item a:hover {
    text-decoration: underline;
}

/* Contacto */
#contacto {
    padding: 3rem 2rem;
    background-color: #121212;
}

#contacto h2 {
    color: #00aaff;
}

#contacto p a {
    color: #00aaff;
    text-decoration: none;
}

form {
    background-color: #000;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 170, 255, 0.5);
}

form input, form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: #bbb;
}

form button {
    width: 50%;
    padding: 0.7rem;
    background-color: #35489d;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    justify-content: center;
}
/*Boton de enviar informacion*/
form button:hover {
    background-color: #ffffff;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #121212;
    color: #bbb;
}


  